*, html{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
  color: #f5d0fe;  
}
.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    border: 2px solid black;
    height: 100vh;
}
.sidebar{
    grid-row: 1/3;
    background: linear-gradient(#701a75, black) ;
    color: #f5d0fe ;
}
.header{
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: #d946ef;
    display: grid;
    color: #701a75;
}
.main-content{
   display: grid;
    background-color: #e8ebee;
    grid-template-columns: 3fr 1fr;
    padding: 20px;
    gap: 20px;
}
.up{
    display: grid;
    grid-template-columns: 2fr 3fr;
    justify-items: center;
    align-items: center;
}
.part-b{
   justify-self: center;
   display: flex;
}
.down{
    display: grid;
    grid-template-columns: 2fr 3fr;
    justify-items: center;
    align-items: center;
}
.right{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 15px;
    justify-self: end;
    padding-right: 30px;
}
button{
    width: 6em;
    height: 2em;
    border-radius: 0.5em;
    border: solid 1px #701a75;
    color: #e879f9;
    background-color: #701a75;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 10px;
}
.grid > div{
    border: 2px solid #e879f9;
    border-radius: 1em;
    padding: 10px;
    background-color: #f9fafb;
    border-left: 15px solid #701a75;
    color: #701a75;
}
.flex{
    display: flex;
    flex-direction: column;
    
}
.flex1, .flex2{
    display: flex;
    flex-direction: column;
    border: 2px solid #e879f9;
    margin-top: 10px;
    padding: 10px;
    background-color: #f9fafb;
    color: #701a75;
}
.flex1  div{
    padding: 5px;
}
.bb{
    border-bottom: 1px solid #701a75;
}
.flex2  div{
    padding: 5px;
}
.sidebar{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 20px;
}
.options1{
    margin-top: 3em;
    list-style-type: none;
}
.options1 li{
    padding: 1em;
}
.options2{
    margin-top: 1.5em;
    list-style-type: none;
}
.options2 li{
    padding: 1em;
}
.title{
    margin-top: 30px;
}
p{
    padding-top: 10px;
    padding-bottom: 10px;
}
input{
    width: 28em;
    border-radius: 2em;
    border: 1px solid #e879f9;
    min-height: 30px;
}
.recent img{
    height: 20px;
    width: 20px;
}
.eagle{
    height: 50px;
    width: 50px;
    border-radius: 25px;
}
.first img{
    height: 70px;
    width: 70px;
    border-radius: 35px;
}
.left, .part-b, .part-a{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.side, .sidex, .dash-icon{
    display: flex;
    align-items: center;
}
.side p,  .sidex p, .dash-icon h2{
    padding-left: 10px;
}
.part-b div, .left div{
    padding: 10px;
}
.flex2 div{
    display: flex;
    align-items: center;
}
.para{
    font-weight: bolder;
    font-size: larger;
}
.recent img{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin-right: 10px;
}
h2:not(.db){
    color: #701a75;
}
.item{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 2fr;
}
.item .svg{
    align-self: end;
    justify-self: end;
}
.item:hover{
    border-color: #e216ec;
    box-shadow: 2px 4px 2px #701a75;
}
button:hover{
    background: white;
    border: solid 3px #701a75;
    color: #701a75;
    cursor: pointer;
}
.side:hover, .sidex:hover{
    background-color: white;
    padding: 5px;
    color: #701a75;
    border-radius: 4px;
    cursor: pointer;
}
.part-a{
    padding-left: 35px;
}
.flex1:hover, .flex2:hover{
    box-shadow: 2px 4px 2px #701a75;
}